@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{@apply font-sans}
}

.glass{
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
}